<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block stylesheets %}
        <!-- bootstrap 3.0.2 -->
        <link href="{{ asset('bundles/site/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="{{ asset('bundles/site/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="{{ asset('bundles/site/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="{{ asset('bundles/site/css/style.css')}}" rel="stylesheet" type="text/css" />
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="{{ path('site_homepage') }}" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        AdminPanel
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="" class="img-circle" alt="User Image"/>
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li><!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                {{ render(controller('SiteBundle:Site:Note')) }}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>{{ app.user.prenom }} {{ app.user.nom }} <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="" class="img-circle" alt="User Image" />
                            <p>
                                {{ app.user.nom }}
                                <small>Member since Nov. 2012</small>
                            </p>
                            <p></p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Logout</a>
                             </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="{{ path('site_homepage') }}">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                    <a href="{{ path('admin_task') }}">
                        <i class="fa fa-gear"></i> <span>Mes Tâches</span>
                    </a>
                    <a href="{{ path('medecin') }}">
                        <i class="fa fa-paperclip"></i> <span>Mes Medecin</span>
                    </a>
                    <a href="{{ path('mes_rendez_vous') }}">
                        <i class="fa fa-clock-o"></i> <span>Mes rendez-vous</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {% block header %}Dashboard{% endblock %}
                <small>{% block header1 %}{% endblock %}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('site_homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {% block body %}{% endblock %}

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<!-- add new calendar event modal -->

{% block javascripts %}
    <!-- jQuery 2.0.2 -->
    <script src="{{ asset('bundles/site/js/jquery.min.js') }}"></script>
    <!-- jQuery UI 1.10.3 -->
    <script src="{{ asset('bundles/site/js/jquery-ui-1.10.3.min.js')}}" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('bundles/site/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <!-- AdminLTE App -->
    <script src="{{ asset('bundles/site/js/script.js')}}" type="text/javascript"></script>
{% endblock %}
</body>
</html>