{% extends '::base.html.twig' %}

{% block header %}Tâches{% endblock %}
    {% block header1 %}Modifier{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/site/css/jquery.simple-dtpicker.css') }}"/>
{% endblock %}
{% block body -%}
    <form action="{{ path('admin_task_update', {'id':entity.id}) }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <table class="table">
                            <tr>
                                <td>Date</td>
                                <td>{{ form_widget(edit_form.date, {'attr' : {'class' : 'form-control date_picker' } }) }}</td>
                            </tr>
                            <tr>
                                <td>Type <i class="fa fa-plus btn btn-success btn-circle pull-right" data-toggle="modal" data-target="#myModalTypeTache"></i></td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-6">{{ form_widget(edit_form.type, {'attr' : {'class' : 'form-control typeTache' } }) }}</div>
                                        <div class="col-md-2">Sous-type <i class="fa fa-plus btn btn-success btn-circle pull-right" data-toggle="modal" data-target="#myModalTypeTache"></i></div><div class="col-md-4">
                                            <select class="form-control" name="ssTypeTache" id="ssTypeTache">
                                                <option value="-1">Vous devez choisir un type avant!</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Lieu <i class="fa fa-plus btn btn-success btn-circle pull-right" data-toggle="modal" data-target="#myModalLieu"></i></td>
                                <td>{{ form_widget(edit_form.lieu, {'attr' : {'class' : 'form-control lieu_tache'} }) }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ form_widget(edit_form.descr, {'attr' : {'class' : 'form-control' } }) }}</td>
                            </tr>
                            <tr>
                                <td>Medecins</td>
                                <td>{{ form_widget(edit_form.medecins, {'attr' : {'class' : 'form-control' } }) }}</td>
                            </tr>
                            <tr>
                                <td>Members</td>
                                <td>{{ form_widget(edit_form.members, {'attr' : {'class' : 'form-control' } }) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="box box-success">
                    <div class="box-body">
                        <div class="box-header"><h4 class="box-title">Les dépenses</h4></div>
                        <input type="hidden" value="0" name="nbre-depense" id="nbre-depense"/>
                        <table class="table table-depense table-striped" id="table-depense">
                            <tr>
                                <th style="width: 50px"></th>
                                <th>Etiquette</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                                <th>Type</th>
                            </tr>
                            {% for depense in entity.depenses %}
                            <tr id="dep-{{ depense.id }}">
                                <input type="hidden" name="dep-{{ depense.id }}"/>
                                <td><button type="button" onclick="depense.supprimer(this)" class="btn btn-circle btn-danger"><i class="fa fa-minus"></i></button></td>
                                <td><input class="form-control" value="{{ depense.etiquette }}" type="text" placeholder="Etiquette" name="etiquette-{{ depense.id }}"/></td>
                                <td><input class="form-control" value="{{ depense.qte }}" type="text" placeholder="Quantité" name="quantite-{{ depense.id }}"/></td>
                                <td><input class="form-control" value="{{ depense.prix }}" type="text" placeholder="Prix" name="prix-{{ depense.id }}"/></td>
                                <td>
                                    <select class="form-control" name="type-0" id="type-depense">
                                        <option {% if depense.type == 'P' %}selected{% endif %} value="P">Prévisionnelle</option>
                                        <option {% if depense.type == 'R' %}selected{% endif %} value="R">Réel</option>
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr id="tt">
                                <th></th>
                                <th colspan="3"><button onclick="depense.addLine()" type="button" class="btn btn-info btn-block col-md-3"><i class="fa fa-plus"></i>  Ajouter une dépense</button>
                                </th>
                                <th></th>
                            </tr>
                        </table>

                    </div>
                </div>
                <button class="btn btn-success btn-block" type="submit">Mettre à jour</button>
            </div>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModalLieu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter nouveau lieu</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Etiquette</td>
                            <td><input type="text" id="etiquette" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td><input type="text" id="adresse" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Ville</td>
                            <td><input type="text" id="ville" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Téléphone</td>
                            <td><input type="text" id="tel" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Convention</td>
                            <td><input type="text" id="convention" class="form-control"/></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary margin-bottom btn-block ajout" onclick="ajouterLieu()">Mettre à jour</button>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('admin_task') }}" class="btn btn-warning margin-top btn-block">
        Revenir à la liste
    </a>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/site/js/jquery.simple-dtpicker.js') }}"></script>

    <script type="text/javascript">

        function ajouterLieu(){
            $etiquette = $('#etiquette').val();
            $adr = $('#adresse').val();
            $ville = $('#ville').val();
            $tel = $('#tel').val();
            $convention = $('#convention').val();

            if( !($etiquette && $adr && $ville && $tel && $convention) ){
                alert('Tous les champs sont obligatoires!');
                return false;
            }
            else{
                var data = "etiquette="+$etiquette+"&adr="+ $adr+"&ville="+$ville+"&tel="+$tel+"&convention="+$convention;

                $.ajax({
                    type: "GET",
                    url: "{{ path('admin_ajouter_lieu_ajax') }}",
                    data: data,
                    success: function(server_response){
                        lieu = server_response.split(",");
                        $('.lieu_tache').append('<option value="'+lieu[0]+'">'+lieu[1]+'</option>');

                    }
                });
            }
            $('.ajout').on('click', function(){
                $('#MyModalLieu').modal('toggle');
            });
        }

        $('.typeTache').on('change', function(){
            var typeTache = $('.typeTache').val();

            $.ajax({
                type: "GET",
                url: "{{ path('sous_type_tache_ajax') }}",
                data: "typeTache="+typeTache,
                success: function(server_response){
                    ssTypes = server_response.split(",");
                    console.log(ssTypes);
                    $('#ssTypeTache').html('');
                    for( i = 0; i < ssTypes.length-2; i=i+2 )
                    {
                        j = i+1;
                        $('#ssTypeTache').append('<option value="'+ssTypes[i]+'">'+ssTypes[j]+'</option>');
                    }

                }
            });
        });

        $(function(){
            $('.date_picker').prop('type','text');

            $('.date_picker').appendDtpicker({
                "onInit": function(){
                    $('.date_picker').handleDtpicker('setDate', new Date('{{ entity.date | date }}'));
                }
            });
        });

        depense = {
            addTagInput: function(a, b){
                return '<td><input class="form-control" required type="text" name="'+a+'-'+b+'"/></td>';
            },
            addClose: function(a){
                return '<td>' +
                        '<button type="button" onclick="depense.supprimer(this)" class="no-padding btn btn-circle btn-danger">' +
                        '<i class="fa fa-minus"></i>' +
                        '</button>' +
                        '</td>';
            },
            supprimer: function(a){
                b = $('#nbre-depense').val();
                (b)--;
                $('#nbre-depense').attr('value', b);
                console.log(a.parentNode.parentNode.id);
                $('#'+a.parentNode.parentNode.id).remove();
            },
            addTagSelect: function(a, b){
                return '<td>' +
                        '<select class="form-control" name="'+a+'-'+b+'" id="type-depense">' +
                        '<option value="P">Prévisionnelle</option>' +
                        '<option value="R">Réel</option>' +
                        '</select>' +
                        '</td>';
            },
            createLine : function(){
                b = $('#nbre-depense').val();
                (b)++;
                line = "<tr id='dep"+ b.toString()+"'>"+
                        "<input type=\"hidden\" name=\"n-dep-"+b+"\" value=\"n-dep-"+b+"\"/>"+
                        this.addClose(b)+
                        this.addTagInput('etiquette', b)+
                        this.addTagInput('quantite', b)+
                        this.addTagInput('prix', b)+
                        this.addTagSelect('type', b)+
                        "</tr>";
                $('#nbre-depense').attr('value', b);
                return line;
            },
            addLine: function(){
                $('#tt').before(this.createLine());
            }
        };
    </script>
{% endblock %}
