{% extends '::base.html.twig' %}
{% block header %}Tache{% endblock %}
{% block header1 %}#{{ entity.id }}{% endblock %}

{% block body -%}
    <div class="row">
        {% for key, flash in app.session.getFlashBag() %}
            <div class="alert alert-{{ key }}">
                {{ flash[0] }}
            </div>
        {% endfor %}
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <table class="table">
                        <tr>
                            <td>Date</td>
                            <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i') }}{% endif %}</td>
                        </tr>
                        {% if entity.owner == app.user %}
                        {% if entity.status == 1 or entity.status == 2 %}
                            <tr class="alert-warning">
                        {% elseif entity.status == 3 %}
                            <tr class="alert-success">
                        {% elseif entity.status == -1 %}
                            <tr class="alert-danger">
                        {% endif %}
                            <td>Status</td>
                            <td>
                                {% if entity.status == 1 %}
                                    <span class="text-warning">Attente de la validation du superviseur</span>
                                {% elseif entity.status == 2 %}
                                    <span class="text-warning">Attente de la validation du chef du produit</span>
                                {% elseif entity.status == 3 %}
                                    <span class="text-success">OK</span>
                                {% elseif entity.status == 4 %}
                                    <span class="text-warning">Annulé!</span>
                                {% elseif entity.status == 0 %}
                                    <span class="text-success">Validé!</span>
                                {% elseif entity.status == -1 %}
                                    <span class="text-danger">Refusé!</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Type</td>
                            <td>{{ entity.type.etiquette }} - {{ entity.ssType.etiquette }} </td>
                        </tr>
                        <tr>
                            <td>Lieu</td>
                            <td>{{ entity.lieu.etiquette }}</td>
                        </tr>
                        <tr>
                            <td>Descritpion</td>
                            <td>{{ entity.descr }}</td>
                        </tr>
                        <tr>
                            <td>Medecins</td>
                            <td>
                                <table>
                                {% for medecin in entity.medecins %}
                                    <tr><td><a href="{{ path('medecin_show', {'id': medecin.id}) }}">{{ medecin.nom }} {{ medecin.prenom }}</a></td></tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Membres</td>
                            <td>
                                <table>
                                {% for membre in entity.members %}
                                    <tr><td>{{ membre.nom }} {{ membre.prenom }}</td></tr>
                                {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-success">
        <div class="box-body">
            <div class="box-header"><h4 class="box-title">Les dépenses</h4></div>
            <input type="hidden" value="0" name="nbre-depense" id="nbre-depense"/>
            <table class="table table-depense table-striped" id="table-depense">
                <tr>
                    <th>#</th>
                    <th>Etiquette</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Type</th>
                </tr>
                {% for key, depense in entity.depenses %}
                    <tr id="dep-{{ depense.id }}">
                        <td>{{ key + 1 }}</td>
                        <td>{{ depense.etiquette }}</td>
                        <td>{{ depense.qte }}</td>
                        <td>{{ depense.prix }}</td>
                        <td>{{ depense.type }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <form action="#" method="post" id="cause-tache">
    <table class="table box box-danger" style="display: none">
        <tr>
            <td>Cause</td>
            <td><input type="text" name="cause" class="form-control margin-bottom" required/></td>
        </tr>
    </table>
    {% if (app.user.id == entity.owner.id) %}
    <a href="{{ path('admin_task_edit', { 'id': entity.id }) }}" class="btn btn-success btn-block margin-bottom">
        Modifier
    </a>
    <a onclick="myButton.onClick('cancel')" class="btn btn-warning btn-block margin-bottom">
        Annulé
    </a>
    {% elseif is_granted('ROLE_SUPERVISEUR') or is_granted('ROLE_CHEF_PRODUIT') %}


    <div class="row">
        <div class="col-md-6">
            {% if entity.status == 3 or entity.status == 4 %}
            <a onclick="myButton.onClick('cancel')" class="btn btn-warning {% if ( is_granted('ROLE_SUPERVISEUR') and ( entity.status == 2 or entity.status == 3  or entity.status == -1) ) or (is_granted('ROLE_CHEF_PRODUIT') and ( entity.status == 3  or entity.status == -1) ) %}disabled{% endif %} btn-block margin-bottom">
                Annulé
            </a>
            {% else %}
            <a href="{{ path('superviseur_validate_task', { 'id': entity.id }) }}" class="btn btn-success {% if (is_granted('ROLE_CHEF_PRODUIT') and ( entity.status == 3  or entity.status == -1) ) %}disabled{% endif %} btn-block margin-bottom">
                Valider
            </a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <a onclick="myButton.onClick('refuse')" class="btn btn-danger {% if ( is_granted('ROLE_SUPERVISEUR') and ( entity.status == 2 or entity.status == 3 or entity.status == -1) ) or (is_granted('ROLE_CHEF_PRODUIT') and ( entity.status == 3  or entity.status == -1) ) %}disabled{% endif %} btn-block margin-bottom">
                Refuser
            </a>
        </div>
    </div>
    </form>

    {% endif %}
    <a href="{{ path('admin_task') }}" class="btn btn-warning btn-block">
        Revenir à la liste
    </a>
    <script>
        myButton = {
            'cancel' : 0,
            'refus' : 0,
            'onClick' : function(action){
                if( action == "cancel" ){
                    this.refus = 0;
                    this.cancel++;
                    $('#cause-tache').attr('action',"{{ path('superviseur_cancel_task', { 'id': entity.id }) }}");
                }
                else{
                    this.cancel = 0;
                    this.refus++;
                    $('#cause-tache').attr('action',"{{ path('superviseur_refuse_task', { 'id': entity.id }) }}");
                }

                $('#cause-tache table').show(500);

                if( this.cancel >= 2 || this.refus >= 2 )
                    this.onSubmit();
            },
            'onSubmit' : function(){
                ( $('#cause-tache input').val() != "" ) ? $('#cause-tache').submit() : alert("Veuillez remplir la cause de votre refus!");
            }
        };
    </script>
{% endblock %}