{% extends "::base.html.twig" %}

{% block header %}Mes Rendez-vous{% endblock %}
{% block header1 %}Calendrier{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/medecin/css/fullcalendar.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    <div class="col-md-3">
        <div class="box box-success">
            <div class="box-body">
                <button class="btn btn-default btn-block margin-bottom">Ajouter une tâche</button>
                <button class="btn btn-default btn-block">Ajouter un Rendez-vous</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/medecin/js/moment.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/medecin/js/fullcalendar.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/medecin/js/fr.js')}}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                    width: '100%'
                },
                buttonText: {//This is to add icons to the visible buttons
                    prev: "<",
                    next: ">",
                    today: 'Aujourd\'hui',
                    month: 'mois',
                    week: 'semaine',
                    day: 'jour'
                },
                events: [
                    {% for event in events %}
                        {{ event | raw }}
                    {% endfor %}
                ]
            })
       });
    </script>
{% endblock %}